<div class="dialog">
    <div *ngIf="buyPopup">
        <h1 mat-dialog-title>Let's buy Alethena Shares</h1>
        <div mat-dialog-content>
            <mat-checkbox [(ngModel)]="checkbox"></mat-checkbox>
                I acknowledge the terms set forth in the
                <a href="https://alethena.com/prospectus-aleq-v1-0/" target="_blank">
                    Prospectus</a>,
                <a href="https://alethena.com/equility_ag_share_token_terms/" target="_blank">
                    Share Token Terms</a>, and the Alethena 
                <a href="https://alethena.com/alethena_privacy_policy/" target="_blank">
                    Privacy Policy</a>. 
            <br><br>
        </div>
        <div mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="openBuyPopup()" [(disabled)]="!checkbox">Agree</button>
            <button mat-raised-button [mat-dialog-close]="true">Cancel</button>
        </div>
    </div>

    <div *ngIf="buyPopup2">
        <h1 mat-dialog-title>Please read carefully</h1>
        <div mat-dialog-content>
            You will receive two MetaMask notification pop-ups. Click "confirm" and wait until the transactions are
            completed. <br><br>
            Depending on your MetaMask settings, <b>this process can take up to a minute</b>. <br><br>
            If you are unsure at all, please reach out
            to <a href="mailto:contact@alethena.com">our team</a>. We are happy to help!
            <br>
        </div>

        <div mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="buyShares()" [(disabled)]="!checkbox2">Proceed</button>
            <button mat-raised-button [mat-dialog-close]="true">Cancel</button>
        </div>


    </div>

    <div *ngIf="MMPopup">
        <h1 mat-dialog-title>
            <mat-icon>local_cafe</mat-icon> Please be patient
        </h1>
        <div mat-dialog-content>
            Transactions on the blockchain can take a while to process. <br><br>
            <b>Do not refresh the window.</b> <br><br>
            If you don't want to wait, grab a cup of coffee - it will be through once you get back!
        </div>
    </div>

    <div *ngIf="FirstSucceded">
        <h1 mat-dialog-title>Success!</h1>
        <div mat-dialog-content>
            The first transaction succeeded. Please accept the second MetaMask pop-up. <br> <br>
            You can safely ignore an «Exception thrown in contract code» alert by MetaMask. <br> <br>
            Again, wait until the transaction has completed. You're almost done!
        </div>
    </div>

    <div *ngIf="SecondSucceded">
        <h1 mat-dialog-title>Thank you for becoming a shareholder!</h1>
        <div mat-dialog-content>
            In the live network, you would now get the opportunity to register as a shareholder with Ledgy.
        </div>
        <div mat-dialog-actions>
            <a mat-raised-button color="primary" href="" target="_blank" disabled="true">Register</a>.
            <button mat-raised-button color="primary" [mat-dialog-close]="true">Done</button>
        </div>
    </div>
</div>