.dispenser-container {
    width: 300px;
    margin: 0px auto;
    height: 500px;
    // background-attachment: fixed;
    // background-color: #155c7209;
    border-radius: 14px;
    // padding: 10px;
    font-size: 100%;
}

.max-button {
  float: right;
  margin: 5px 10px 0 0 !important;
  font-size: 70%;
  width: 20% !important;
  font-family: Saira Semi Condensed;
  border-radius: 4px;
  border: 0;
}

.buy-button {
  display: inline;
}

.more-button {
  display: inline-block;
}

.buttons {
  display: block;
  margin: 20px  0px 20px 100px;
}

.dispenser-card {
  color: #155c72;
  // background-color: #155c720e; 8aaeb9
  background-color: rgba(138, 174, 185, 0.192);
  text-align: center;
  font-family: Saira Semi Condensed;
  text-transform: capitalize;
  box-shadow: none;
  padding: 0px;
  margin: 0px auto !important;
  width: 210px;
  height: 340px;

  .total-price-title {
    font-size: 120%;
    font-weight: 100;
    background-color: #387487;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    line-height: 130%;
    padding: 10px !important;
  }

  .slider {
    width: 60%;
    float: left;
    margin: 0px 0 0 5px;
  }
  span {
    font-size: 150%;
    padding: 8px 0px;
    display: block;
    font-weight: 100;
  }
  // .total-price-price {
  //   font-size: 200%;
  //   font-weight: 300;
  //   background-color: #155c72;
  //   color: #fff;
  // }

}




.number-selection-title {
  font-size: 140%;
  font-weight: 200;
  // background-color: #155c72;
  color: #155c72;
  line-height: 130%;
  padding: 18px 8px 8px 8px;
}

.middle-info {
  font-size: 90%;
  padding: 0px;
  line-height: 60% !important;
  height: 160px;
  background-color: rgba(21, 92, 114, 0.118);
  border-radius: 10px;
  margin: 10px;
}

.total-price {
  font-size: 300%;
  font-family: Saira Semi Condensed;
  text-align: center;
  height: 100px;
  background-color: rgba(21, 92, 114, 0.616);
  color: #fff;
  font-weight: 200;
  border-radius: 0px 0px 10px 10px;

  p {
    padding: 15px 0px;
    margin: 0px;
  }
}


.buy-now {
  font-size: 140%;
  font-family: Saira Semi Condensed;
  text-align: center;
  background-color: rgba(21, 92, 114, 0.612);
  color: #fff;
  font-weight: 300;
  border-radius: 10px;
  margin: 0px 18px;
  height: 55px;
  width: 85%;

  p {
    padding: 10px 0px;
    margin: 0px;
  }
}

.buy-now:hover {
  background-color: #155c72;
}

.number-selector-2 {

  font-size: 170%;
  margin: 0px auto;
  width: 85%;
  // background-color: #155c7221;
  // padding: 10px;
  // border-radius: 4px;
}
.number-selector {
  font-size: 110%;
  margin: 40px auto;
  width: 85%;
}


.icon-tooltip {
  font-size: 90%;
  position: absolute;
  font-weight: 200;
  right: 40px;
  top: -17px;
}

@media only screen and (max-width: 800px) {
	.dispenser-container {
    font-size: 100%;
    font-weight: 600 !important;
}
}