.DS_Store
Solidity/build/
Solidity/node_modules/
ng/node_modules/
ng/dist/
node_modules/
.solcover.js
coverage.json
coverage/
ng/src/assets/Alethena - Empowering Investment with the First Swiss Blockchain-Asset Rating Agency.mp4
ng/src/assets/SDVideo.mp4
