<div class="main-box">


  <div class="row">
    <div class="col span-2-of-3 main-left">

      <!-- <h2>Fully tokenized equity on the Ethereum blockchain</h2> -->
      <!-- <h2>Explore a fully digital way to become a shareholder</h2> -->
      <h2>Explore a truly digital way to become a shareholder</h2>


      Alethena has developed a <a href="http://www.tokenized-shares.ch" target="_blank">tokenized equity framework</a>
      and <a href="https://www.handelszeitung.ch/blogs/bits-coins/erste-firma-gibt-aktien-nur-noch-auf-der-blockchain-aus" target="_blank">successfully
        applied it</a>
      to the entire share capital of its underlying company Equility AG. <br><br>
      The solution
      includes a <a href="https://etherscan.io/token/0xf40c5e190a608b6f8c0bf2b38c9506b327941402" target="_blank">smart contract</a> on
      the Ethereum blockchain,
      a legal setup in collaboration with <a href="https://www.lexr.ch/" target="_blank">LEXR</a>,
      and
      a digital share register from <a href="https://ledgy.com/" target="_blank">Ledgy</a> which syncs from the blockchain
      automatically.
      <br><br>

      <!-- <h2>Explore a fully digital way to become a shareholder</h2> -->

      On this page you can purchase shares directly from our <a href="https://etherscan.io/token/0xf40c5e190a608b6f8c0bf2b38c9506b327941402" target="_blank">share
        dispenser</a>
      and then <a href="https://alethena.ledgy.com/" target="_blank">register</a> as a shareholder. Registration is not mandatory, but
      necessary
      in order to exercise full shareholder rights. <br><br>
      To ensure a stable CHF/ETH exchange rate, payments are to be made in <a href="https://www.swisscryptotokens.ch/" target="_blank">Crypto
        Francs </a> (XCHF), which
      serves as a digital Swiss Franc and is structured as a bond.
      <br> <br>
      <a href="#learn-more-section" class="learn-more-btn">Learn More</a>

    </div>

    <div class="col span-1-of-3">


      <app-share-dispenser></app-share-dispenser>
    


    </div>
  </div>


</div>