.dispenser-box {
    margin-top: 100px;
    height: 100%;
}

@media only screen and (max-width: 800px) {
	.dispenser-box {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 480px) {
	.dispenser-box {
        margin-top: 20px;
    }
}