<a id="top"></a>
<div class="top-half">
    <div class="bg-img">
        <app-header></app-header>
        <div class="first-page">
            <div class="row">
                <div class="col span-2-of-3">
                    <app-first-page-left></app-first-page-left>
                </div>
                <div class="col span-1-of-3">
                    <app-first-page-right></app-first-page-right>
                </div>
            </div>

            <!-- <app-main-box></app-main-box> -->
        </div>
    </div>
</div>


<!-- <app-learn-more></app-learn-more> -->

<app-footer></app-footer> 