

.AGB-container {
	margin-left: 40px;
	padding: 10px;
	width: 230px;
	display: block-inline;
	margin-top: 15px;
	font-size: 80%;
	background-color: #32758e09;
	border-radius: 6px;

}

.mat-checkbox .mat-checkbox-frame .matcheckbox {
	border-color: #155c72ad;
}

.mat-checkbox-checked .mat-checkbox-background {
	background-color: #155c72ad !important;
}

.mat-ripple-element {
	background: transparent;
}

/* .mat-tab-label {
	font-size: 80%;
} */

/* .mat-tab-label {
    min-width: 15px !important;
    padding: 0px;
    background-color: transparent;
    color: red;
    font-weight: 700;
}


.tab-label {
	width: 40px;
}

 .mattablabelwrapper {
	 width: 20px;
} */

.mat-tab-labels, .mat-tab-label, .mat-tab-link {
	color: #155c72;
	font-size: 90%;
	min-width: 100px;
  }

/* .mat-tab-label-container {
	max-width: 100px !important;
} */

.buy-box .mat-ripple-element {
	background: transparent !important;
}


.mat-tab-header {
	border-bottom: none;
	margin-bottom: 20px;
	margin-left: -40px;
	font-size: 120%;
	/* margin-top: -100px; */
}
.mat-tab-label {
	min-width: 100px !important;
	padding: 0px !important;
} 

.mat-tab-label:active {
	background-color: transparent;
}
  
  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
	background: #155c72;
	/* color: #155c72; */
	height: 2px; 
  }

.agreed {
	font-weight: 500;
}


.checkbox {
	margin: 7px 0 0 0;

}

.checkbox a {
	margin-left: 7px;
	font-weight: 400;
}
.buy-sell-selector {
	margin-left: 120px;
	height: 50px;
	margin-top: -160px
}

.buy-sell-button {
	background-color: #155c72;
	color: #fff;
}


/* .mat-tab-label-active{
	background-color: #155c72b7;
 } */

.buy-box {
	width: 250px;
	margin-left: 40px;
	height: 440px;
	margin-top: 0px;
}

.buy-box-top {
	background-color: #155c72;
	height: 24%;
	border-radius: 10px 10px 0 0;
	width: 100%;
	border: none;
}

.buy-box-middle {
	background-color: #32758e1f;
	font-family: Saira Semi Condensed;
	font-size: 90%;
	color: #333;
	height: 52%;
	padding: 0 10px;
	line-height: 110%;
}



.buy-box-bottom {
	background-color: #155c72ad;
	height: 24%;
	border-radius: 0 0 10px 10px;
	width: 100%;
	border: none;

}

.buy-box-bottom:hover {
	background-color: #155c72;
	transition: background-color 0.3s;
}

.row-buy-box {
	font-size: 90%;
	margin-top: -16px;
}

.row-buy-box col {
	width: 100%;
	padding: 0;
}

/* .buy-box p {
    margin: 0;
} */

.buy-box-middle p {
	margin-top: -23px;
	padding: 3px;
	font-weight: 400;
}

  
  .example-margin {
	margin: 10px;
  }
  
  .mat-slider-horizontal {
	width: 200px;
  }
 .mat-card {
	 padding: 0px !important;
	 background-color: transparent !important;
	 box-shadow: none !important;
 }

 .mat-accent .mat-slider-thumb,
 .mat-accent .mat-slider-thumb-label,
 .mat-accent .mat-slider-track-fill{
	 background-color:#333 !important;
	}

	.mat-slider, 
	mat-accent,
	mat-slider-horizontal, 
	ng-valid, 
	ng-dirty, 
	ng-touched {
		padding: 0px !important;
		margin-top: -15px;
		margin-bottom: 20px !important;
	}


  
.share-price {
	color: #fff;
	font-family: Saira Semi Condensed;
	font-weight: 100;
	text-align: center;
	padding-top: 12px;
}

.share-price span {
	font-size: 30%;
	margin-top: 20px;
	display: block;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.total-price {
	font-size: 112%;
	color: #fff;
	font-family: Saira Semi Condensed;
	font-weight: 200;
	text-align: center;
	margin-top: 10px;

	/* display: block; */
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.total-price span {
	font-size: 340%;
	line-height: 90%;
}


.mat-form-field {
	border-top: 20px;
	font-size: 140%;
	font-family: Saira Semi Condensed;
	color: #333;
	font-weight: 400;
}

.mat-form-field-label {
	color: #333 !important;
}

mat-form-field.mat-form-field {
	display: inline;

}

.mat-form-field-ripple {
	background-color: #155c72ad !important;
}


.mat-focused .mat-form-field-label {
	color: #155c72ad !important;
}

.container-no-shares {
	padding-top: 10px;
}
