<!-- <div class="buy-sell-selector">
    <button mat-button [matMenuTriggerFor]="menu" class="buy-sell-button">Buy/Sell</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="buyOrSell = false">

      </button>
      <button mat-menu-item (click)="buyOrSell = true">

      </button>
    </mat-menu>
</div> -->

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Buy" class="tab-label">
    <div class="buy-box">

      <button type="button" class="buy-box-top" disabled="true">
        <p class="total-price">Price per Share <br> <span> {{ pricePerShare }} CHF </span></p>
      </button>

      <div class="buy-box-middle">
        <div class="container-no-shares">

          <mat-card class="result">
            <mat-card-content>
              <mat-form-field class="no-shares-input">
                <input type="number" matInput id="amount" placeholder="Number of shares to buy" [(ngModel)]="numberOfSharesToBuy"
                  min="20" max="{{ ALEQAvailable }}">
              </mat-form-field>

              <!-- <mat-slider
                          class="example-margin"
                          [disabled]="disabled"
                          [invert]="invert"
                          [max]="max"
                          [min]="min"
                          [step]="step"
                          [thumbLabel]="thumbLabel"
                          [tickInterval]="tickInterval"
                          [(ngModel)]="value"
                          [vertical]="vertical">
                      </mat-slider> -->

              <mat-slider [max]="maxCanBuy" [min]=20 [(ngModel)]="numberOfSharesToBuy"
              [step]=1
              [thumbLabel]="true"></mat-slider>
            </mat-card-content>
          </mat-card>

        </div>

        <div class="row-buy-box">
          <div class="col span-4-of-7">Total shares issued: </div>
          <div class="col span-3-of-7">{{ ALEQTotal }}</div>
        </div>
        <div class="row-buy-box">
          <div class="col span-4-of-7">Available for buyback: </div>
          <div class="col span-3-of-7">{{ ALEQAvailable }}</div>
        </div>
        <div class="row-buy-box">
          <div class="col span-4-of-7">Your XCHF balance: </div>
          <div class="col span-3-of-7">{{ XCHFBalance }}</div>
        </div>
        <div class="row-buy-box">
          <div class="col span-4-of-7">Your ALEQ balance: </div>
          <div class="col span-3-of-7">{{ ALEQBalance }}</div>
        </div>
      </div>
      <!-- <div class="buy-box-bottom">
            
          </div> -->

      <button type="button" class="buy-box-bottom" (click)="buyShares()">
        <p class="total-price">Buy now for <br><span>{{ totalPrice }} CHF </span></p>
      </button>

    </div>
  </mat-tab>
  <mat-tab label="Sell">
    <div class="buy-box">


      <!-- <app-share-dispenser *ngIf="buyOrSell === true"></app-share-dispenser> -->

      <button type="button" class="buy-box-top" disabled="true">
        <p class="total-price">Price per Share <br> <span> {{ pricePerShare }} CHF </span></p>
      </button>

      <div class="buy-box-middle">
        <div class="container-no-shares">
          <mat-form-field class="no-shares-input">
            <input type="number" matInput id="amount" placeholder="Number of shares to sell" value="{{ maxCanBuy }}"
              min="20" max="{{ ALEQAvailable }}" (change)="setAmount($event)">
          </mat-form-field>
        </div>

        <div class="row-buy-box">
          <div class="col span-4-of-7">Total shares issued: </div>
          <div class="col span-3-of-7">{{ ALEQTotal }}</div>
        </div>
        <div class="row-buy-box">
          <div class="col span-4-of-7">Available for buyback: </div>
          <div class="col span-3-of-7">{{ ALEQAvailable }}</div>
        </div>

        <div class="row-buy-box">
          <div class="col span-4-of-7">Your XCHF balance: </div>
          <div class="col span-3-of-7">{{ XCHFBalance }}</div>
        </div>
        <div class="row-buy-box">
          <div class="col span-4-of-7">Your ALEQ balance: </div>
          <div class="col span-3-of-7">{{ ALEQBalance }}</div>
        </div>
      </div>
      <!-- <div class="buy-box-bottom">
            
          </div> -->
      <button type="button" class="buy-box-bottom" (click)="buyShares()">
        <p class="total-price">Sell now for <br><span>{{ totalPrice }} CHF </span></p>
      </button>

    </div>
  </mat-tab>
</mat-tab-group>



<div class="AGB-container">
  <div class="agreed">
    <label>I have read and agree to Equility AG's:</label>
  </div>

  <!-- <br><br>
    {{ shareTokenTerms }} {{ prospectus }} {{ privacyPolicy }}
    <br><br> -->



  <div class="checkbox">
    <mat-checkbox [(ngModel)]="shareTokenTerms">
      <a href="https://www.alethena.com/wp-content/uploads/Equility_AG_Share_Token_Terms.pdf" target="_blank">
        Share Token Terms
      </a></mat-checkbox>

  </div>

  <div class="checkbox">
    <mat-checkbox [(ngModel)]="privacyPolicy">
      <a href="https://www.alethena.com/wp-content/uploads/Equility_AG_Share_Token_Terms.pdf" target="_blank">
        Privacy
        Policy
      </a></mat-checkbox>

  </div>

  <div class="checkbox">
    <mat-checkbox [(ngModel)]="prospectus">
      <a href="https://www.alethena.com/wp-content/uploads/Equility_AG_Share_Token_Terms.pdf" target="_blank">
        Prospectus
      </a></mat-checkbox>

  </div>

</div>