<footer>
    <div class="footer-row">
        <div class="col span-1-of-3">
            <ul class="address">
                <li>Equility AG</li>
                <li>Dammstrasse 16</li>
                <li>6300 Zug</li>
                <li>Switzerland</li>
                <li> &nbsp;</li>
                <li>&copy; 2019 by Alethena. All rights reserved.</li>
            </ul>
        </div>

        <div class="col span-1-of-3">
            <ul class="footer-nav">
                <li><a href="https://www.alethena.com/about/">About</a></li>
                <li><a href="#learn-more-section">How It Works</a></li>
                <li><a href="http://www.tokenized-shares.ch">Tokenize Your Shares</a></li>
                <li><a href="mailto:contact@alethena.com">Contact</a></li>
            </ul>
        </div>
        <div class="col span-1-of-3">
            <ul class="social-links">
                <li><a href="https://github.com/Alethena" target="_blank"><i class="ion-social-github"></i></a></li>
                <li><a href="https://www.facebook.com/alethena/" target="_blank"><i class="ion-social-facebook"></i></a></li>
                <li><a href="https://twitter.com/alethena_rating" target="_blank"><i class="ion-social-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/alethena/" target="_blank"><i class="ion-social-linkedin"></i></a></li>

            </ul>
        </div>
    </div>
    <!-- <div class="footer-row-2">
        <div class="col span-1-of-3"> &copy; 2019 by Alethena. All rights reserved.</div>
        <div class="col span-2-of-3">   </div>
    </div> -->
</footer>