footer {
	background-color: #155c72;
	min-height: 160px;
	// height: 100%;
	padding: 0px;
	margin-top: 0px;
	font-size: 80%;
	color: #fff;
	bottom: 0px;
	position: relative;
	font-weight: 200;
}

.footer-row {
	width: 95vw;
	height: 100px;
	margin: 0 auto 0 auto;
	display: block;
}
.footer-row-2 {
	width: 95vw;
	height: 80px;
	margin: 0 auto 0 auto;
	display: block;
}

.footer-nav {
	list-style: none;
	display: inline-block;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
	margin: 20px auto;
}


.footer-nav ul {
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
}

.footer-nav li {
	display: inline-block;
	margin: 14px;
	list-style: none;
}


.address li {
	margin-right: 20px;
	list-style: none;
}

/* .social-links ul {} */

.social-links li {
	display: inline-block;
	margin: 20px;
	list-style: none;
	float: right;
}

.footer-nav li:last-child{
	margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: #eee;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	font-weight: 300;
}

.footer-nav li a:hover,
.footer-nav li a:active {
	color: #fff;
	border-bottom: 1px solid #fff;
	;

}

.social-links li a:link,
.social-links li a:visited {
	font-size: 160%;

}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.ion-social-facebook:hover {
	color: #3b5998;
}

.ion-social-twitter:hover {
	color: #00aced;
}

.ion-social-linkedin:hover {
	color: #0077b5;
}

.ion-social-github:hover {
	color: #000;
}


footer p {
	color: #fff;
	text-align: center;
	margin-top: 0px;
	padding-bottom: 0px;
}