<header>
  <nav>
    <div class="row">
      <a href="https://alethena.com"><img src="../../resources/img/Alethena_horizontal.png" alt="Alethena Logo" class="logo"></a> 
      <ul class="main-nav">
        <li><a href="https://www.alethena.com/about/">About</a></li>
        <li><a href="#learn-more-section">How It Works</a></li>
        <li><a href="http://www.tokenized-shares.ch" target="_blank">Tokenize Your Shares</a></li>
        <li><a href="mailto:contact@alethena.com">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>