<div class="bg-img-2">
  <a id="learn-more-section"></a>
  <div class="learn-more">
    <div class="row">
      <div class="main">

        <h2>Fully tokenized equity on the Ethereum blockchain</h2>
        Please read through the steps below carefully and do not hesitate to contact us at <a href="mailto:contact@alethenacom">contact@alethena.com</a>
        if you are unsure about how to proceed. <br><br>

        Buying shares from the share dispenser is not a complex process, please find the necessary steps below. 
        <br><br> <br><br>
      </div>
      <div class="steps">

        <div class="steps-list">
          <div class="row">
            <div class="col span-1-of-12"><span class="enum"><i class="ion-ios-checkmark-outline"></i></span></div>
            <div class="col span-11-of-12">
              Payments should be made in Crypto Francs (XCHF). Therefore the first step is to obtain
              a sufficient amount of XCHF for your purchase. There are a number of ways to get XCHF, you can find
              them
              <a href="">here</a>.
            </div>
          </div>

          <div class="row">
            <div class="col span-1-of-12"><span class="enum"><i class="ion-ios-checkmark-outline"></i></span></div>
            <div class="col span-11-of-12">
              Assuming that you have a sufficient amount of XCHF on your account, log into MetaMask
              and select the account you use to hold the XCHF. You should see your XCHF balance in the middle of the
              box on the right of the screen.
            </div>
          </div>

          <div class="row">
            <div class="col span-1-of-12"><span class="enum"><i class="ion-ios-checkmark-outline"></i></span></div>
            <div class="col span-11-of-12">
              Select the number of Alethena shares you would like to buy and click "Buy now for...". A pop-up from
              MetaMask will open asking you to authorize the XCHF payment. Click "Confirm" and wait until the
              transaction has completed.
              At this point the trade is not yet complete, this is due to an idiosyncrasy of the ERC-20 standard.
            </div>
          </div>

          <div class="row">
            <div class="col span-1-of-12"><span class="enum"><i class="ion-ios-checkmark-outline"></i></span></div>
            <div class="col span-11-of-12">
              A second pop-up from MetaMask will open &#8212;
               this is the actual purchase of Alethena Shares. <br>
              Click confirm again and wait for the transaction to finish. <br>
              You are now a shareholder of Alethena.
              Welcome and get in touch!
            </div>
          </div>
          <br><br>
          <a href="#top" class="top-btn">Back to top</a>
        </div>




      </div>
    </div>
  </div>