.learn-more {
  color: #fff;
  line-height: 160%;
  font-weight: 200;
  margin: 0 2px;
  height: 100% !important;
  text-align: justify;
  // padding-top: 40px;
}



h1,
h2,
h3 {
  color: #fff;
}

.row {
  line-height: 170%;
  margin-top: 20px;
}


a {
  font-weight: 400;
}
a:hover {
  color: rgba(255, 255, 255, 0.699);
}

p {
  line-height: 200%;
}

.learn-more-btn {
  border: 2px solid #155c72;
  padding: 8px;
  border-radius: 20px;
  margin-top: 0px;
  display: inline-block;
  font-weight: 500;
}

.learn-more-btn:hover {
  background-color: #155c72;
  color: #fff;
  transition: color 0.3s;
  transition: background-color 0.3s;
  font-weight: 300;
}

.learn-more ul {
  list-style-type: none;
  padding: 0px !important;
}

.learn-more li {
  line-height: 300%;
  margin: 20px;
}

.divider {
  width: 40%;
  margin-top: 0px;
  margin-bottom: 10px;
}

.top-button {
  background-color: #063042;
  margin-bottom: 20px;
}
.learn-more a {
  color: rgba(255, 255, 255, 0.849);
  font-weight: 400;
}

.learn-more a:hover {
  color: rgba(255, 255, 255, 0.685);
}

.row {
  margin-top: 0px !important;
}


.span-10-of-12 {
  text-align: justify;
}

.enum {
  font-size: 250%;
  display: inline-block;
  font-family: Saira Semi Condensed;
  /* transform: translate(0px, -0px);  */
  // padding: -10px;
  padding: 15px 0 5px 20px;
  margin: 0px auto;
  @media only screen and (max-width: 800px) {
    float: left;
  }
}

.check {
  font-size: 300%;
  display: inline-block;
  font-family: Saira Semi Condensed;
  /* transform: translate(0px, -0px);  */
  // padding: -10px;
  padding: 5px 20px 0 0;
  margin: 0px auto;
  @media only screen and (max-width: 800px) {
    float: left;
  }
}

// .top-btn {
// 	border: 2px solid #fff;
// 	color: #fff;
// 	padding: 5px;
// 	border-radius: 20px;
// 	margin-top: 0px;
// 	display: inline-block;
// 	font-weight: 500;
// 	font-size: 80%;
// }

@media only screen and (max-width: 1800px) {
  .top-button {
    display: block;
    margin: 0px auto;
  }
}

@media only screen and (max-width: 800px) {
  h2 {
    text-align: center;
  }

  .enum {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding: 0px 0px 10px 0px;
  }

  .learn-more {
    font-weight: 300;
  }

  .learn-more a {
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
  
  .learn-more a:hover {
    color: rgba(255, 255, 255, 0.685);
  }
}

