/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*------------------------------*/
/* COLORS */
/* blue/green: #155c72,   dark grey: rgb(89, 91, 97) */
/*------------------------------*/


/*------------------------------*/
/* GLOBAL */
/*------------------------------*/

html,
body {
	background-color: #fff;
	color: #333;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 17px;
	text-rendering: optimizeLegibility;
	width: 100vw;
	height: 100%;
	padding-block-end: 0;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: #155c72;
	font-weight: 400;
}

a:hover {
	color: #155c72a4;
}

.top-half {}

.bg-img {
	height: 100%;
	min-height: 100vh;
	background-image: linear-gradient(rgba(256, 256, 256, 0.7), rgba(256, 256, 256, 0.9), rgba(256, 256, 256, 0.95)), url(../src/resources/css/img/hero.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.bg-img-2 {
	height: 100%;
	min-height: 100vh;
	background-image: linear-gradient(#155c72ef, #155c72ee, #155c72a1), url(../src/resources/css/img/hero.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.row {
	max-width: 1140px;
	margin: 0 auto 0 auto;
}

/*------------------------------*/
/* FIXES ETC. */
/*------------------------------*/

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: '.';
	clear: both;
	display: table;
	height: 0;
	visibility: hidden;
}


/*------------------------------*/
/* NAVIGATION */
/*------------------------------*/

.main-nav {
	float: right;
	list-style: none;
	text-decoration: none;
	font-family: Saira Semi Condensed;
	color: #333;
	font-weight: 400;
	font-size: 80%;
	padding-inline-start: 0px;
	/* margin: 0px; */

}

.main-nav li {
	display: inline-block;
	margin: 20px;
}


.main-nav a {
	text-decoration: none;
	color: #333;
}

.main-nav a:hover {
	border-bottom: solid 2px #155c72;
	color: #155c72;
}



/*------------------------------*/
/* Header */
/*------------------------------*/

.logo {
	width: 200px;
	height: auto;
	margin: 20px 20px 0px 0px;
}

.hero-text-box {
	/* height: 80px; */
	margin-left: 0px;
	/* margin-bottom:140px; */
	/* position: absolute; */
	/* width: 1140px; */
	/* top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

/*------------------------------*/
/* MAIN BOX */
/*------------------------------*/

.main-box {
	/* margin-top: -100px; */
	margin: 0px 10px;
}

.main-left {
	line-height: 160%;
	text-align: justify;
}

/*------------------------------*/
/* Headings */
/*------------------------------*/

h1,
h2,
h3 {
	font-weight: 300;
	color: #333;
	font-family: "Saira Semi Condensed";
}

h1 {
	font-size: 400%;
	margin-block-start: 0px;
	margin-block-end: 2px;
	margin-inline-start: 2px;
	margin-inline-end: 2px;
	margin-top: 60px;
	margin-left: 0px;
}

h2 {
	font-size: 170%;
}



/*------------------------------*/
/* Share Dispenser Component */
/*------------------------------*/


.AGB-container {
	margin-left: 40px;
	padding: 10px;
	width: 230px;
	display: block-inline;
	margin-top: 15px;
	font-size: 80%;
	background-color: #32758e09;
	border-radius: 6px;

}

.mat-checkbox .mat-checkbox-frame .matcheckbox {
	border-color: #155c72ad;
}

.mat-checkbox-checked .mat-checkbox-background {
	background-color: #155c72ad !important;
}

.mat-ripple-element {
	background: rgba(27, 142, 241, .4) !important;
}

.agreed {
	font-weight: 500;
}


.checkbox {
	margin: 7px 0 0 0;

}

.checkbox a {
	margin-left: 7px;
	font-weight: 400;
}

.buy-box {
	width: 250px;
	margin-left: 40px;
	height: 400px;
	margin-top: -90px;
}

.buy-box-top {
	background-color: #155c72;
	height: 28%;
	border-radius: 10px 10px 0 0;
	width: 100%;
	border: none;
}

.buy-box-middle {
	background-color: #32758e1f;
	font-family: Saira Semi Condensed;
	font-size: 90%;
	color: #333;
	height: 44%;
	padding: 0 10px;
	line-height: 110%;
}



.buy-box-bottom {
	background-color: #155c72ad;
	height: 28%;
	border-radius: 0 0 10px 10px;
	width: 100%;
	border: none;

}

.buy-box-bottom:hover {
	background-color: #155c72;
	transition: background-color 0.3s;
}

.row-buy-box {
	font-size: 90%;
	margin-top: -16px;
}

.row-buy-box col {
	width: 100%;
	padding: 0;
}

/* .buy-box p {
    margin: 0;
} */

.buy-box-middle p {
	margin-top: -23px;
	padding: 3px;
	font-weight: 400;
}

.share-price {
	color: #fff;
	font-family: Saira Semi Condensed;
	font-weight: 100;
	text-align: center;
	padding-top: 12px;
}

.share-price span {
	font-size: 30%;
	margin-top: 20px;
	display: block;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.total-price {
	font-size: 112%;
	color: #fff;
	font-family: Saira Semi Condensed;
	font-weight: 200;
	text-align: center;
	margin-top: 10px;

	/* display: block; */
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.total-price span {
	font-size: 340%;
	line-height: 90%;
}


.mat-form-field {
	border-top: 20px;
	font-size: 140%;
	font-family: Saira Semi Condensed;
	color: #333;
	font-weight: 400;
}

.mat-form-field-label {
	color: #333 !important;
}

mat-form-field.mat-form-field {
	display: inline;

}

.mat-form-field-ripple {
	background-color: #155c72ad !important;
}


.mat-focused .mat-form-field-label {
	color: #155c72ad !important;
}

.container-no-shares {
	padding-top: 10px;
}


/*------------------------------*/
/* LEARN MORE */
/*------------------------------*/

.learn-more {
	color: #fff;
	padding-top: 40px;
	line-height: 160%;
	font-weight: 300;
	margin: 0 10px;
	height: 100%;
}

.learn-more h2 {
	color: #fff;
}

.learn-more-btn {
	border: 2px solid #155c72;
	padding: 8px;
	border-radius: 20px;
	margin-top: 0px;
	display: inline-block;
	font-weight: 500;
}

.learn-more-btn:hover {
	background-color: #155c72;
	color: #fff;
	transition: color 0.3s;
	transition: background-color 0.3s;
	font-weight: 300;
}

.learn-more ul {
	list-style-type: none;
}

.learn-more li {
	line-height: 300%;
	margin: 20px;
}

.enum {
	font-size: 300%;
	display: inline-block;
	font-family: Saira Semi Condensed;
	/* transform: translate(0px, -0px);  */
	padding: -10px;
}

.top-btn {
	border: 2px solid #fff;
	color: #fff;
	padding: 8px;
	border-radius: 20px;
	margin-top: 0px;
	display: inline-block;
	font-weight: 500;
}

.learn-more a {
	color: rgb(255, 255, 255);
	font-weight: 400;
}

/*------------------------------*/
/* MANUAL MEDIA QUERIES */
/*------------------------------*/

@media only screen and (max-width: 1200px) {}


@media only screen and (max-width: 1140px) {
	.hero-text-box {
		margin-left: 10px;

	}

	h1 {
		font-size: 320%;
		margin-top: 20px;

	}

	h2 {
		font-size: 150%;
	}

	.logo {
		width: 160px;
		height: auto;
		margin: 20px 20px 0px 0px;
	}
}

@media only screen and (max-width: 940px) {

	html,
	body {
		font-size: 15px;
	}

	body .buy-box {
		font-size: 17px;
	}

	.buy-box {
		margin-left: 10px;
		margin-top: -10px;
	}

	.AGB-container {
		margin-left: 10px;
	}

	h1 {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 650px) {
	h1 {
		font-size: 250%;
		font-weight: 500;
	}

	.main-nav {
		float: left;
		margin-left: 10px;
	}

	.main-nav li:first-child {
		margin-left: 0px;
	}
}

@media only screen and (max-width: 568px) {
	.main-nav {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media only screen and (max-width: 800px) {
	.buy-box{
		margin: 20px auto;
	}
	.AGB-container {
		margin: 20px auto;
	}
}

@media only screen and (max-width: 480px) {
	.main-nav li {
		display: inline-block;
		margin: 4px;
	}
	body .buy-box {
		font-size: 17px;
	}
}


/* @media only screen and (max-width: 940px){
	.span-1-of-3 {
		width: 48%;
	}
	.span-2-of-3 {
		width: 48%;
	}
} */

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
	background-color: #155c72;
	height: 160px;
	padding: 0px;
	margin-top: 0px;
	font-size: 80%;
	color: #fff;
	bottom: 0px;
	position: relative;
	font-weight: 200;
}

.footer-row {
	width: 95vw;
	height: 100px;
	margin: 0 auto 0 auto;
	display: block;
}
.footer-row-2 {
	width: 95vw;
	height: 80px;
	margin: 0 auto 0 auto;
	display: block;
}

.footer-nav {
	list-style: none;
	display: inline-block;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
	margin: 20px auto;
}


.footer-nav ul {
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
}

.footer-nav li {
	display: inline-block;
	margin: 14px;
	list-style: none;
}


.address li {
	margin-right: 20px;
	list-style: none;
}

/* .social-links ul {} */

.social-links li {
	display: inline-block;
	margin: 20px;
	list-style: none;
	float: right;
}

.footer-nav li:last-child{
	margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: #eee;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	font-weight: 300;
}

.footer-nav li a:hover,
.footer-nav li a:active {
	color: #fff;
	border-bottom: 1px solid #fff;
	;

}

.social-links li a:link,
.social-links li a:visited {
	font-size: 160%;

}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.ion-social-facebook:hover {
	color: #3b5998;
}

.ion-social-twitter:hover {
	color: #00aced;
}

.ion-social-linkedin:hover {
	color: #0077b5;
}

.ion-social-github:hover {
	color: #000;
}


footer p {
	color: #fff;
	text-align: center;
	margin-top: 0px;
	padding-bottom: 0px;
}


/*------------------------------*/
/* GRID */
/*------------------------------*/

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */

.row {
	zoom: 1;
	/* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child {
	margin-left: 0;
}

/* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		/*margin: 1% 0 1% 0%;*/
		margin: 0;
	}
}


/*  GRID OF TWO   ============================================================================= */


.span-2-of-2 {
	width: 100%;
}

.span-1-of-2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-2-of-2 {
		width: 100%;
	}

	.span-1-of-2 {
		width: 100%;
	}
}


/*  GRID OF THREE   ============================================================================= */


/* 1 */


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-3-of-3 {
		width: 100%;
	}

	.span-2-of-3 {
		width: 100%;
	}

	.span-1-of-3 {
		width: 100%;
	}
}

/*  GRID OF FOUR   ============================================================================= */


.span-4-of-4 {
	width: 100%;
}

.span-3-of-4 {
	width: 74.6%;
}

.span-2-of-4 {
	width: 49.2%;
}

.span-1-of-4 {
	width: 23.8%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-4-of-4 {
		width: 100%;
	}

	.span-3-of-4 {
		width: 100%;
	}

	.span-2-of-4 {
		width: 100%;
	}

	.span-1-of-4 {
		width: 100%;
	}
}


/*  GRID OF FIVE   ============================================================================= */


.span-5-of-5 {
	width: 100%;
}

.span-4-of-5 {
	width: 79.68%;
}

.span-3-of-5 {
	width: 59.36%;
}

.span-2-of-5 {
	width: 39.04%;
}

.span-1-of-5 {
	width: 18.72%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-5-of-5 {
		width: 100%;
	}

	.span-4-of-5 {
		width: 100%;
	}

	.span-3-of-5 {
		width: 100%;
	}

	.span-2-of-5 {
		width: 100%;
	}

	.span-1-of-5 {
		width: 100%;
	}
}


/*  GRID OF SIX   ============================================================================= */


.span-6-of-6 {
	width: 100%;
}

.span-5-of-6 {
	width: 83.06%;
}

.span-4-of-6 {
	width: 66.13%;
}

.span-3-of-6 {
	width: 49.2%;
}

.span-2-of-6 {
	width: 32.26%;
}

.span-1-of-6 {
	width: 15.33%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-6-of-6 {
		width: 100%;
	}

	.span-5-of-6 {
		width: 100%;
	}

	.span-4-of-6 {
		width: 100%;
	}

	.span-3-of-6 {
		width: 100%;
	}

	.span-2-of-6 {
		width: 100%;
	}

	.span-1-of-6 {
		width: 100%;
	}
}



/*  GRID OF SEVEN   ============================================================================= */


.span-7-of-7 {
	width: 100%;
}

.span-6-of-7 {
	width: 85.48%;
}

.span-5-of-7 {
	width: 70.97%;
}

.span-4-of-7 {
	width: 56.45%;
}

.span-3-of-7 {
	width: 41.94%;
}

.span-2-of-7 {
	width: 27.42%;
}

.span-1-of-7 {
	width: 12.91%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	/* .span-7-of-7 {
		width: 100%;
	}

	.span-6-of-7 {
		width: 100%;
	}

	.span-5-of-7 {
		width: 100%;
	}

	.span-4-of-7 {
		width: 100%;
	}

	.span-3-of-7 {
		width: 100%;
	}

	.span-2-of-7 {
		width: 100%;
	}

	.span-1-of-7 {
		width: 100%;
	} */
}


/*  GRID OF EIGHT   ============================================================================= */


.span-8-of-8 {
	width: 100%;
}

.span-7-of-8 {
	width: 87.3%;
}

.span-6-of-8 {
	width: 74.6%;
}

.span-5-of-8 {
	width: 61.9%;
}

.span-4-of-8 {
	width: 49.2%;
}

.span-3-of-8 {
	width: 36.5%;
}

.span-2-of-8 {
	width: 23.8%;
}

.span-1-of-8 {
	width: 11.1%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-8-of-8 {
		width: 100%;
	}

	.span-7-of-8 {
		width: 100%;
	}

	.span-6-of-8 {
		width: 100%;
	}

	.span-5-of-8 {
		width: 100%;
	}

	.span-4-of-8 {
		width: 100%;
	}

	.span-3-of-8 {
		width: 100%;
	}

	.span-2-of-8 {
		width: 100%;
	}

	.span-1-of-8 {
		width: 100%;
	}
}


/*  GRID OF NINE   ============================================================================= */


.span-9-of-9 {
	width: 100%;
}

.span-8-of-9 {
	width: 88.71%;
}

.span-7-of-9 {
	width: 77.42%;
}

.span-6-of-9 {
	width: 66.13%;
}

.span-5-of-9 {
	width: 54.84%;
}

.span-4-of-9 {
	width: 43.55%;
}

.span-3-of-9 {
	width: 32.26%;
}

.span-2-of-9 {
	width: 20.97%;
}

.span-1-of-9 {
	width: 9.68%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-9-of-9 {
		width: 100%;
	}

	.span-8-of-9 {
		width: 100%;
	}

	.span-7-of-9 {
		width: 100%;
	}

	.span-6-of-9 {
		width: 100%;
	}

	.span-5-of-9 {
		width: 100%;
	}

	.span-4-of-9 {
		width: 100%;
	}

	.span-3-of-9 {
		width: 100%;
	}

	.span-2-of-9 {
		width: 100%;
	}

	.span-1-of-9 {
		width: 100%;
	}
}


/*  GRID OF TEN   ============================================================================= */


.span-10-of-10 {
	width: 100%;
}

.span-9-of-10 {
	width: 89.84%;
}

.span-8-of-10 {
	width: 79.68%;
}

.span-7-of-10 {
	width: 69.52%;
}

.span-6-of-10 {
	width: 59.36%;
}

.span-5-of-10 {
	width: 49.2%;
}

.span-4-of-10 {
	width: 39.04%;
}

.span-3-of-10 {
	width: 28.88%;
}

.span-2-of-10 {
	width: 18.72%;
}

.span-1-of-10 {
	width: 8.56%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-10-of-10 {
		width: 100%;
	}

	.span-9-of-10 {
		width: 100%;
	}

	.span-8-of-10 {
		width: 100%;
	}

	.span-7-of-10 {
		width: 100%;
	}

	.span-6-of-10 {
		width: 100%;
	}

	.span-5-of-10 {
		width: 100%;
	}

	.span-4-of-10 {
		width: 100%;
	}

	.span-3-of-10 {
		width: 100%;
	}

	.span-2-of-10 {
		width: 100%;
	}

	.span-1-of-10 {
		width: 100%;
	}
}


/*  GRID OF ELEVEN   ============================================================================= */

.span-11-of-11 {
	width: 100%;
}

.span-10-of-11 {
	width: 90.76%;
}

.span-9-of-11 {
	width: 81.52%;
}

.span-8-of-11 {
	width: 72.29%;
}

.span-7-of-11 {
	width: 63.05%;
}

.span-6-of-11 {
	width: 53.81%;
}

.span-5-of-11 {
	width: 44.58%;
}

.span-4-of-11 {
	width: 35.34%;
}

.span-3-of-11 {
	width: 26.1%;
}

.span-2-of-11 {
	width: 16.87%;
}

.span-1-of-11 {
	width: 7.63%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-11-of-11 {
		width: 100%;
	}

	.span-10-of-11 {
		width: 100%;
	}

	.span-9-of-11 {
		width: 100%;
	}

	.span-8-of-11 {
		width: 100%;
	}

	.span-7-of-11 {
		width: 100%;
	}

	.span-6-of-11 {
		width: 100%;
	}

	.span-5-of-11 {
		width: 100%;
	}

	.span-4-of-11 {
		width: 100%;
	}

	.span-3-of-11 {
		width: 100%;
	}

	.span-2-of-11 {
		width: 100%;
	}

	.span-1-of-11 {
		width: 100%;
	}
}


/*  GRID OF TWELVE   ============================================================================= */

.span-12-of-12 {
	width: 100%;
}

.span-11-of-12 {
	width: 91.53%;
}

.span-10-of-12 {
	width: 83.06%;
}

.span-9-of-12 {
	width: 74.6%;
}

.span-8-of-12 {
	width: 66.13%;
}

.span-7-of-12 {
	width: 57.66%;
}

.span-6-of-12 {
	width: 49.2%;
}

.span-5-of-12 {
	width: 40.73%;
}

.span-4-of-12 {
	width: 32.26%;
}

.span-3-of-12 {
	width: 23.8%;
}

.span-2-of-12 {
	width: 15.33%;
}

.span-1-of-12 {
	width: 6.86%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-12-of-12 {
		width: 100%;
	}

	.span-11-of-12 {
		width: 100%;
	}

	.span-10-of-12 {
		width: 100%;
	}

	.span-9-of-12 {
		width: 100%;
	}

	.span-8-of-12 {
		width: 100%;
	}

	.span-7-of-12 {
		width: 100%;
	}

	.span-6-of-12 {
		width: 100%;
	}

	.span-5-of-12 {
		width: 100%;
	}

	.span-4-of-12 {
		width: 100%;
	}

	.span-3-of-12 {
		width: 100%;
	}

	.span-2-of-12 {
		width: 100%;
	}

	.span-1-of-12 {
		width: 100%;
	}
}