<h1>Alethena Share Dispenser</h1>


<h2>Explore a truly digital way to become a shareholder</h2>

<!-- <h2 class="demo-title">Watch the demo video!</h2> -->
<div class="video-container">
  <iframe class="video" src="https://www.youtube.com/embed/BqDhbjjmFso" frameborder="0" allowfullscreen></iframe>
</div>
<div class="row">
  <p>
    To buy shares you need <a href="https://metamask.io/" target="_blank">MetaMask</a>, <a
      href="https://www.swisscryptotokens.ch/" target="_blank">Crypto Francs </a>(XCHF) as well as a
    small amount of Ether.
    Read our <a href="http://" target="_blank">Medium Post</a> to learn how to do this.
  </p>
</div>



<div class="button-container">
  <button mat-raised-button color=primary class="learn-more-button">
    <a href="#learn-more-section">Learn More</a>
  </button>
</div>